#map-container #map {
   position:fixed;
   height: 100%;
   top: 0; bottom: 0;
   width: 100%;
   z-index: 0;
}
#map-container{
   z-index: 1;
}
#features {
   position: relative;
   width: 30%;
   margin-left: 70%;
   /* margin-right: 5%; */
   font-family: sans-serif;
   background-color: #fafafa5e;
}
section {
   padding: 25px 50px;
   line-height: 25px;
   border-top: 150px solid rgba(221, 221, 221, 0);
   opacity: 0.25;
   font-size: 13px;
}
section.active {
   opacity: 1;
}
section:first-child{
    border-top: none;
}
section:last-child {
   border-bottom: none;
   margin-bottom: 500px;
}
.point-legend-key {
   background-color: #336699;
   display: inline-block;
   border-radius: 20%;
   width: 10px;
   height: 10px;
   margin-right: 5px;
 }

 .line-legend-key {
   background-color: #99CCCC;
   display: inline-block;
   border-radius: 20%;
   width: 10px;
   height: 10px;
   margin-right: 5px;
 }