
body {
    height: 100%; 
    margin: 0;
     padding: 0; 
    }

#title {
    width: 100%;
    height: 20ch;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #fafafa00 0%, #fafafa4f 30%);
    opacity:0.95;
    text-align: center;
}
#map-container{
    position: relative;
    width: 100%;
    height: 100%;
}


#container2{
    position: relative;
    width: 100%;
    height: 300ch;
    background-color: rgb(255, 255, 255);
}
